/angkut.py
/angkutan.py
/cb dl.py
/cb lg.py
/cb.py
/data.csv
/demo.py
/eksplor.py
/file.mp3
/file.pdf
/gtw.py
/import socket.py
/kabisat.py
/mainmd.py
/module.py
/mymodule.py
/oop.py
/page_1.mp3
/page_2.mp3
/page_3.mp3
/pds.py
/person_mod.py
/print(3).py
/pythontube.py
/tb.py
/tes.py
/tesjson.py
/test teros.py
/test.mp3
/testing.py
/venv
/__pycache__